---
import Layout from '@layouts/Layout.astro'
import BodyCard from '@components/BodyCard.astro'
import Title from '@components/Title.astro'
import ContactBtn from '@components/ContactBtn.astro'
---

<Layout title='Contacto'>
  <BodyCard>
    <Title type='contact' />
    <div class='flex flex-col xl:flex-row items-center pb-5'>
      <img
        src='/icons/contact.svg'
        alt='contact_image'
        class='aspect-square w-[300px] lg:w-[500px]'
      />
      <div class='flex flex-col'>
        <ContactBtn type='email' />
        <ContactBtn type='telegram' />
        <ContactBtn type='discord' />
        <ContactBtn type='linkedin' />
      </div>
    </div>
  </BodyCard>
</Layout>
