---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro';
---

<Layout title="">
  <main>
    <h1>Welcome to <span class="text-gradient">Fan2Dev</span></h1>
  </main>
</Layout>
