---
import Layout from '@layouts/Layout.astro'
import UnderConstruction from '@components/UnderConstruction.astro'
import BodyCard from '@components/BodyCard.astro'
---

<Layout title=''>
  <div class='mx-60 mt-10 flex gap-14 items-center'>
    <div class='flex rounded-full w-52 h-52 bg-white items-center justify-center text-6xl'>?</div>
    <div class='flex flex-col gap-3'>
      <h1 class='text-4xl font-bold tracking-wider text-gray-800 uppercase dark:text-gray-200'>
        <span
          class='inline-flex h-20 pt-2 overflow-x-hidden animate-type group-hover:animate-type-reverse whitespace-nowrap text-brand-accent will-change-transform'
        >
          Bienvenido a Fan2dev 
        </span>
        <span
          class='box-border inline-block w-1 h-10 ml-2 -mb-2 bg-white md:-mb-4 md:h-16 animate-cursor will-change-opacity'
        ></span>
      </h1>
      <h2
        class='-mt-8 text-2xl font-bold text-gray-700 uppercase dark:text-gray-300 tracking-wider'
      >
        Desarrollador multiplataforma
      </h2>
    </div>
  </div>
  <BodyCard primary>
    <div
      class='flex flex-col items-center justify-center py-5 space-y-4 text-justify text-gray-700 dark:text-gray-300'
    >
      <p>
        Soy Alejandro Fandos, un joven apasionado por la tecnolog铆a y el desarrollo de soluciones de
        software. He trabajado en proyectos multiplataforma que van desde aplicaciones m贸viles hasta
        p谩ginas web. Mi experiencia me ha permitido desarrollar una amplia gama de habilidades que
        me permiten abordar proyectos desde diferentes perspectivas y encontrar la mejor soluci贸n.
      </p>
      <p>
        Mi objetivo es ofrecer un servicio personalizado y de calidad a cada uno de mis clientes,
        por eso me esfuerzo en comprender sus necesidades y brindarles una soluci贸n a la medida. Mi
        enfoque en la atenci贸n al cliente y la transparencia en el proceso de desarrollo hace que
        <strong>Fan2dev</strong> sea una opci贸n confiable y efectiva para todas sus necesidades de desarrollo
        de software.
      </p>
      <p>
        En <strong>Fan2dev</strong> ofrezco una amplia gama de servicios, desde el desarrollo de p谩ginas
        web hasta la creaci贸n de aplicaciones m贸viles. Trabajo con los 煤ltimos avances tecnol贸gicos y
        metodolog铆as de desarrollo para asegurar que mis soluciones sean eficientes, escalables y de
        calidad.
      </p>
      <p>
        Si est谩 buscando un desarrollador de software confiable y apasionado por su trabajo, no dude
        en contactarme. Juntos podemos transformar sus ideas en soluciones de software reales.
        <strong>Fan2dev</strong> es la opci贸n perfecta para sus necesidades de desarrollo.
      </p>
    </div>
    <UnderConstruction title='Home' />
  </BodyCard>
</Layout>
