---
import Layout from '@layouts/Layout.astro'
import UnderConstruction from '@components/ui/UnderConstruction.astro'
import BodyCard from '@components/ui/BodyCard.astro'
import HeroSection from '@components/ui/HeroSection.astro'
---

<Layout title=''>
  <HeroSection />
  <BodyCard primary>
    <div
      class='flex flex-col items-center justify-center py-5 space-y-4 text-justify text-gray-700 dark:text-gray-300'
    >
      <p>
        Soy Alejandro Fandos, un joven apasionado por la tecnología y el desarrollo de soluciones de
        software. He trabajado en proyectos multiplataforma que van desde aplicaciones móviles hasta
        páginas web. Mi experiencia me ha permitido desarrollar una amplia gama de habilidades que
        me permiten abordar proyectos desde diferentes perspectivas y encontrar la mejor solución.
      </p>
      <p>
        Mi objetivo es ofrecer un servicio personalizado y de calidad a cada uno de mis clientes,
        por eso me esfuerzo en comprender sus necesidades y brindarles una solución a la medida. Mi
        enfoque en la atención al cliente y la transparencia en el proceso de desarrollo hace que
        <strong>Fan2dev</strong> sea una opción confiable y efectiva para todas sus necesidades de desarrollo
        de software.
      </p>
      <p>
        En <strong>Fan2dev</strong> ofrezco una amplia gama de servicios, desde el desarrollo de páginas
        web hasta la creación de aplicaciones móviles. Trabajo con los últimos avances tecnológicos y
        metodologías de desarrollo para asegurar que mis soluciones sean eficientes, escalables y de
        calidad.
      </p>
      <p>
        Si está buscando un desarrollador de software confiable y apasionado por su trabajo, no dude
        en contactarme. Juntos podemos transformar sus ideas en soluciones de software reales.
        <strong>Fan2dev</strong> es la opción perfecta para sus necesidades de desarrollo.
      </p>
    </div>
    <UnderConstruction title='Home' />
  </BodyCard>
</Layout>
