---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
---

<Layout title="">
  <main class="p-10">
    <img src="/personal_website/logos/logo.svg" alt="Fan2Dev Logo" class="pb-5" />
    <Card
      title="Bienvenido a Fan2Dev"
      body="Fan2Dev es la pagina personal de Alejandro Fandos. En desarrollo."
    />
  </main>
</Layout>
