---
import Layout from '@layouts/Layout.astro'
import UnderConstruction from '@components/UnderConstruction.astro'
import BodyCard from '@components/BodyCard.astro'
---

<Layout title=''>
  <div class='mx-5 mt-10 flex gap-5 md:gap-10 items-center lg:mx-60 md:mx-24 sm:mx-10'>
    <div class='flex rounded-full p-16 xl:p-28 bg-white items-center justify-center text-6xl'></div>
    <div class='flex flex-col gap-1'>
      <h1
        class='xl:text-4xl text-2xl font-title sm:-mt-10 tracking-wider text-gray-800 uppercase dark:text-gray-200'
      >
        <div class='sm:hidden inline-flex'>Bienvenido a</div>
        <br />
        <span
          class='h-20 pt-2 -ml-3 overflow-x-hidden animate-typeMini group-hover:animate-typeMini whitespace-nowrap will-change-transform sm:hidden inline-flex'
        >
          <span
            class='xl:text-4xl text-2xl px-3 text-transparent bg-clip-text bg-gradient-to-tr font-title from-primary-600 to-secondary-basic'
          >
            fan2dev
          </span> 
        </span>
        <span
          class='box-border w-1 h-8 ml-2 -mb-2 dark:bg-white rounded bg-black md:h-12 animate-cursor will-change-opacity sm:hidden inline-block'
        ></span>
        <span
          class='h-20 pt-2 overflow-x-hidden animate-type group-hover:animate-type whitespace-nowrap will-change-transform sm:inline-flex hidden'
        >
          Bienvenido a
          <span
            class='xl:text-4xl text-2xl px-3 text-transparent bg-clip-text bg-gradient-to-tr font-title from-primary-600 to-secondary-basic sm:inline-flex hidden'
          >
            fan2dev
          </span> 
        </span>
        <span
          class='box-border w-1 h-8 ml-2 -mb-2 dark:bg-white rounded bg-black md:h-12 animate-cursor will-change-opacity sm:inline-block hidden'
        ></span>
      </h1>
      <h2
        class='-mt-8 xl:text-2xl text-md font-bold text-gray-700 uppercase dark:text-gray-300 tracking-wider'
      >
        Desarrollador multiplataforma
      </h2>
    </div>
  </div>
  <BodyCard primary>
    <div
      class='flex flex-col items-center justify-center py-5 space-y-4 text-justify text-gray-700 dark:text-gray-300'
    >
      <p>
        Soy Alejandro Fandos, un joven apasionado por la tecnolog铆a y el desarrollo de soluciones de
        software. He trabajado en proyectos multiplataforma que van desde aplicaciones m贸viles hasta
        p谩ginas web. Mi experiencia me ha permitido desarrollar una amplia gama de habilidades que
        me permiten abordar proyectos desde diferentes perspectivas y encontrar la mejor soluci贸n.
      </p>
      <p>
        Mi objetivo es ofrecer un servicio personalizado y de calidad a cada uno de mis clientes,
        por eso me esfuerzo en comprender sus necesidades y brindarles una soluci贸n a la medida. Mi
        enfoque en la atenci贸n al cliente y la transparencia en el proceso de desarrollo hace que
        <strong>Fan2dev</strong> sea una opci贸n confiable y efectiva para todas sus necesidades de desarrollo
        de software.
      </p>
      <p>
        En <strong>Fan2dev</strong> ofrezco una amplia gama de servicios, desde el desarrollo de p谩ginas
        web hasta la creaci贸n de aplicaciones m贸viles. Trabajo con los 煤ltimos avances tecnol贸gicos y
        metodolog铆as de desarrollo para asegurar que mis soluciones sean eficientes, escalables y de
        calidad.
      </p>
      <p>
        Si est谩 buscando un desarrollador de software confiable y apasionado por su trabajo, no dude
        en contactarme. Juntos podemos transformar sus ideas en soluciones de software reales.
        <strong>Fan2dev</strong> es la opci贸n perfecta para sus necesidades de desarrollo.
      </p>
    </div>
    <UnderConstruction title='Home' />
  </BodyCard>
</Layout>
