<div
  class='flex gap-2 px-3 pt-8 pb-2 bg-gray-200 shadow-xl cursor-pointer rounded-xl font-title dark:bg-gray-700 hover:bg-gray-400 dark:hover:bg-gray-800 group'
  id='accessibility-menu'
>
  ♿
  <span class='hidden group-hover:block dark:text-gray-300'>Próximamente</span>
</div>
