<div
  class="absolute lg:left-32 top-0 md:-left-24 sm:-left-[151px] -left-[171px] sm:overflow-x-hidden"
>
  <img src="/logos/my-logo-left-cut.png" alt="decoration-body-logo" />
</div>
<div
  class="absolute lg:right-32 bottom-0 md:-right-24 sm:-right-[151px] -right-[171px] object-scale-down"
>
  <img src="/logos/my-logo-right-cut.png" alt="decoration-body-logo" class="" />
</div>
<section
  class="flex flex-col items-center justify-start pt-20 h-screen rounded-lg bg-gray-200 dark:bg-gray-700 my-10 shadow-lg lg:mx-80 md:mx-24 sm:mx-10 mx-5"
>
  <slot />
</section>
