---
const { href, icon, name } = Astro.props
---

<a href={href}>
  <button
    class='relative inline-flex items-center justify-center p-[1px] overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-tr from-primary-600 to-secondary-basic group-hover:from-primary-600 group-hover:to-secondary-basic hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 dark:focus:ring-secondary-800'
  >
    <span
      class='relative flex flex-row items-center px-3 py-1 transition-all ease-in duration-75 bg-gray-200 dark:bg-gray-700 rounded-md group-hover:bg-opacity-0 gap-2'
    >
      <i class={`${icon} text-lg`}></i>
      <p>{name}</p>
    </span>
  </button>
</a>
