---
import RootLogo from "@components/RootLogo.astro";
---

<footer class="bg-gray-300 h-500 flex flex-col p-4 items-center">
  <nav class="flex items-center gap-20 py-8">
    <div class="hover:underline text-gray-600">
      <a href="/about"> Sobre mi</a>
    </div>
    <div class="hover:underline text-gray-600">
      <a href="/portfolio"> Portafolio</a>
    </div>
    <div class="hover:underline text-gray-600">
      <a href="/contact"> Contacto</a>
    </div>
  </nav>
  <RootLogo />
</footer>
