---
import Button from "@components/Button.astro";
import RootLogo from "@components/RootLogo.astro";

function toggleTheme() {}
---

<header
  class="sticky flex items-center justify-between px-4 mx-20 mt-2 transition-colors bg-gray-200 shadow-xl opacity-100 dark:bg-gray-700 rounded-xl top-5"
>
  <RootLogo onlyBox />
  <nav class="flex gap-5 list-none">
    <Button href="/about" title="Sobre mi" />
    <Button href="/portfolio" title="Portafolio" />
    <Button href="/contact" title="Contacto" />
  </nav>
</header>
