---
import '@flaticon/flaticon-uicons/css/regular/all.css'

const { type } = Astro.props

const titleType = {
  about: 'Sobre mi',
  portfolio: 'Portafolio',
  contact: 'Contacto'
}

const typeMap = {
  about: 'fi fi-rr-user',
  portfolio: 'fi fi-rr-document-signed',
  contact: 'fi fi-rr-envelope'
}

const title = titleType[type]
const icon = typeMap[type]
---

<i class={`${icon} text-gray-200 text-4xl`}></i>
<div class='flex justify-center align-center title-container items-center'>
  <img src='/logos/my-logo-left.webp' alt='decoration-title-logo' class='w-20' />
  <h1 class='font-title md:mx-10 text-3xl uppercase text-gray-700 dark:text-gray-200'>
    {title ?? type}
  </h1>
  <img src='/logos/my-logo-right.webp' alt='decoration-title-logo' class='w-20' />
</div>
