---
const { title } = Astro.props;
---

<section class="flex flex-row items-center justify-center mt-40">
  <div class="flex h-48">
    <img src="/icons/construction.svg" alt="construction_icon" />
  </div>
  <div class="text-gray-600 dark:text-gray-200">
    <h1 class="text-xl tracking-wider uppercase font-title">
      Pagina en construcción - {title}
    </h1>
    <p>Estoy trabajando en esta página, pronto estará disponible.</p>
  </div>
</section>
