---
import '@flaticon/flaticon-uicons/css/brands/all.css'

import { getCollection } from 'astro:content'

import Layout from '@layouts/Layout.astro'
import BodyCard from '@components/ui/BodyCard.astro'
import Title from '@components/ui/Title.astro'
import ProjectCard from '@components/ui/portfolio/ProjectCard.astro'
import StackCard from '@components/ui/portfolio/StackCard.astro'
import SkillCard from '@components/ui/portfolio/SkillCard.astro'

const publishedProjectEntries = await getCollection('projects', ({ data }) => {
  return data.publishDate < new Date()
})

publishedProjectEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
})
---

<Layout title='Portafolio'>
  <BodyCard>
    <Title type='portfolio' />
    <h2
      class='flex text-2xl font-bold my-5 text-gray-700 dark:text-gray-200 self-start lg:ml-28 ml-10'
    >
      <i class='fi fi-rr-folder mt-1 mr-2'></i>Proyectos
    </h2>
    <div class='w-[85%] rounded-xl h-1 bg-gray-700 dark:bg-gray-200'></div>
    <ul class='my-5 gap-5 w-[85%] flex flex-col'>
      {
        publishedProjectEntries.map((project, index) => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>
    <!-- black line horizontal -->
    <h2
      class='flex text-2xl font-bold text-center my-5 text-gray-700 dark:text-gray-200 self-start lg:ml-28 ml-10'
    >
      <i class='fi fi-rr-badge-check mt-1 mr-2'></i> Skill Stacks (Grupos de habilidades)
    </h2>
    <div class='w-[85%] rounded-xl h-1 bg-gray-700 dark:bg-gray-200'></div>
    <ul class='my-5 gap-5 w-[85%] flex flex-col'>
      <li>
        <StackCard
          title='Aplicaciones multiplataforma'
          description='Utilizo las siguientes tecnologías para crear aplicaciones multiplataforma. Para aplicaciones multiplataforma hoy en dia una de las mejores formas de ahorrar costes es usar un mismo desarrollo para todas las plataformas. Para ello confío en Flutter, que es una tecnología que me permite crear aplicaciones móviles con un solo código para android e IOS. Pero no solo eso, también me permite crear aplicaciones web, Windows, Linux, y MacOS.'
        >
          <SkillCard
            title='flutter'
            icon='flutter'
            description='Creación de aplicaciones multiplataforma con un solo código para todas las plataformas.'
            url='https://flutter.dev/'
          />
          <SkillCard
            title='dart'
            icon='dart'
            description='Utilizo Dart como lenguaje base para usar el Framework de Flutter.'
            url='https://dart.dev/'
          />
          <SkillCard
            title='Cloudflare'
            icon='cloudflare'
            description='Cloudflare es una de las mejores formas de desplegar proyectos web estáticos con gran seguridad y velocidad.'
            url='https://www.cloudflare.com'
          />
        </StackCard>
      </li>
      <li>
        <StackCard
          title='Landings'
          description='Utilizo las siguientes tecnologías para crear proyectos web. Parra sitios estáticos lo mas importante es la velocidad de carga,por eso utilizo Astro para crear sitios web estáticos que cargan muy rápido. Ademas si lo necesito puedo utilizar otras tecnologías junto a Astro. También utilizo Tailwind para estilizar mis proyectos web de una manera rápida, sencilla y eficiente. Por último, utilizo Typescript para tipar mis proyectos y tener un mejor control de los mismos.'
        >
          <SkillCard
            title='astro'
            icon='astro'
            description='Utilizo Astro para crear proyectos web estáticos que cargan muy rápido.'
            url='https://astro.build/'
          />
          <SkillCard
            title='tailwind'
            icon='tailwind'
            description='Utilizo Tailwind para estilizar mis proyectos web forma rápida, sencilla y eficiente.'
            url='https://tailwindcss.com/'
          />
          <SkillCard
            title='typescript'
            icon='typescript'
            description='Utilizo Typescript para tipar mis proyectos y tener un mejor control de los mismos.'
            url='https://www.typescriptlang.org/'
          />
          <SkillCard
            title='Cloudflare'
            icon='cloudflare'
            description='Cloudflare es una de las mejores formas de desplegar proyectos web estáticos con gran seguridad y velocidad.'
            url='https://www.cloudflare.com'
          />
        </StackCard>
      </li>
      <li>
        <StackCard
          title='Backend'
          description='El backend nos permite darle vida a nuestro proyecto en caso de que lo necesitemos. Para ello utilizo NodeJS, que es un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome. Sobre el utilizo Express, que es un framework de NodeJS que nos permite crear APIs REST de una forma rápida y sencilla.'
        >
          <SkillCard
            title='nodeJS'
            icon='nodejs'
            description='NodeJS es un entorno de ejecución para JavaScript para crear aplicaciones de backend.'
            url='https://nodejs.org/es/'
          />
          <SkillCard
            title='expressJS'
            icon='express'
            description='Express es un framework de NodeJS que nos permite crear APIs.'
            url='https://tailwindcss.com/'
          />
          <SkillCard
            title='typescript'
            icon='typescript'
            description='Utilizo Typescript para tipar mis proyectos y tener un mejor control de los mismos.'
            url='https://www.typescriptlang.org/'
          />
          <SkillCard
            title='mariaDB'
            icon='mariadb'
            description='Utilizo MariaDB como base de datos relacional para mis proyectos.'
            url='https://mariadb.org/'
          />
        </StackCard>
      </li>
    </ul>
    <h2
      class='flex text-2xl font-bold text-center my-5 text-gray-700 dark:text-gray-200 self-start lg:ml-28 ml-10'
    >
      <i class='fi fi-rr-world mt-1 mr-2'></i> Global Skills (Habilidades Generales)
    </h2>
    <div class='w-[85%] rounded-xl h-1 bg-gray-700 dark:bg-gray-200'></div>
    <ul
      class='my-5 w-[85%] grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-5 gap-5 xl:gap-5 grid-flow-dense justify-items-center'
    >
      <li>
        <SkillCard
          title='git'
          icon='git'
          description='Utilizo Git para controlar mis proyectos y poder trabajar en equipo de una forma eficiente.'
          url='https://git-scm.com/'
        />
      </li>
      <li>
        <SkillCard
          title='github'
          icon='github'
          description='Utilizo Github para almacenar mis proyectos y poder trabajar en equipo de una forma eficiente.'
          url='https://github.com/'
        />
      </li>
      <li>
        <SkillCard
          title='github Actions'
          icon='githubactions'
          description='Github Actions es una forma de automatizar tareas y crear CI/CD para nuestros proyectos.'
          url='https://github.com/features/actions'
        />
      </li>
      <li>
        <SkillCard
          title='github Copilot'
          icon='githubcopilot'
          description='Me permite acelerar mi desarrollo. Es una herramienta muy útil para crear código de forma rápida.'
          url='https://pages.github.com/'
        />
      </li>
      <li>
        <SkillCard
          title='Linux'
          icon='linux'
          description='Los servidores Linux son muy versátiles y permiten crear proyectos de gran escala.'
          url='https://www.typescriptlang.org/'
        />
      </li>
      <li>
        <SkillCard
          title='docker'
          icon='docker'
          description='Docker es una forma de crear contenedores. Permite tenerlos aislados y desplegarlos en cualquier lugar.'
          url='https://www.cloudflare.com'
        />
      </li>
      <li>
        <SkillCard
          title='markdown'
          icon='markdown'
          description='Utilizo Markdown para crear documentación de mis proyectos de una forma rápida y sencilla.'
          url='https://www.markdownguide.org/'
        />
      </li>
      <li>
        <SkillCard
          title='VSCode'
          icon='visualcode'
          description='Mi editor de código favorito. Es muy potente y permite crear proyectos de todo tipo.'
          url='https://code.visualstudio.com/'
        />
      </li>
      <li>
        <SkillCard
          title='notion'
          icon='notion'
          description='Utilizo Notion para organizar pequeños proyectos y tenerlos a mano.'
          url='https://www.notion.so'
        />
      </li>
    </ul>
  </BodyCard>
</Layout>
