---
const { classNames, ...rest } = Astro.props
---

<div {...rest} class:list={['w-full overflow-x-hidden', classNames]}>
  <div class='mt-8 absolute lg:left-[99px] md:-left-[13px] sm:-left-[151px] -left-[89px]'>
    <img
      src='/logos/my-logo-left-cut.webp'
      alt='decoration-body-logo'
      class='aspect-auto w-full h-full'
    />
  </div>
  <div
    class='absolute lg:right-[101px] bottom-8 md:-right-[11px] sm:-right-[151px] -right-[87px] md:block z-10'
  >
    <img
      src='/logos/my-logo-right-cut.webp'
      alt='decoration-body-logo'
      class='aspect-auto w-full h-full'
    />
  </div>
  <section
    class='flex flex-col items-center justify-start h-auto px-8 pt-20 mx-5 my-10 bg-gray-200 rounded-lg shadow-lg dark:bg-gray-700 lg:mx-52 md:mx-24 sm:mx-10'
  >
    <slot />
  </section>
</div>
