---
import '@flaticon/flaticon-uicons/css/brands/all.css'
import '@flaticon/flaticon-uicons/css/solid/rounded.css'

const { type } = Astro.props

const bgColorMap = {
  email: 'bg-transparent hover:bg-[#787878]/80 dark:bg-transparent dark:hover:bg-[#787878]/80',
  telegram: 'bg-transparent hover:bg-[#0088cc]/80 dark:bg-transparent dark:hover:bg-[#0088cc]/80',
  linkedin:
    'bg-transparent hover:bg-[#0077b5]/80 dark:bg-bg-transparent dark:hover:bg-[#0077b5]/80 ',
  discord: 'bg-transparent hover:bg-[#5865f2]/80  dark:bg-transparent dark:hover:bg-[#5865f2]/80'
}

const iconMap = {
  email: 'fi fi-sr-envelope',
  telegram: 'fi fi-brands-telegram',
  linkedin: 'fi fi-brands-linkedin',
  discord: 'fi fi-brands-discord'
}

const onClickMap = {
  email: "window.open('mailto:alejandrofan2@protonmail.com', '_blank')",
  telegram: "window.open('https://t.me/fan2dev', '_blank')",
  linkedin: "window.open('https://www.linkedin.com/in/alejandro-fandos-29614892/', '_blank')",
  discord: "window.open('https://discord.com/users/fan2dev#4504', '_blank')"
}

const bgColor = bgColorMap[type]
const icon = iconMap[type]
const onClick = onClickMap[type]
---

<button
  type='button'
  class={`text-gray-900 ${bgColor} dark:text-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 justify-start`}
  onclick={onClick}
>
  <i class={`${icon} text-4xl pt-1`}></i>
</button>
