---
const { title } = Astro.props
---

<section
  class="flex flex-col items-center mt-10 mb-12 text-center md:justify-center md:flex-row md:text-start"
>
  <div class="flex h-48">
    <img
      src="/icons/construction.svg"
      alt="construction_icon"
      class="aspect-square w-full h-full"
    />
  </div>
  <div class="text-gray-600 dark:text-gray-200">
    <h1 class="text-xl tracking-wider uppercase font-title">
      Pagina en construcción - {title}
    </h1>
    <p>Estoy trabajando en esta página, pronto estará disponible.</p>
  </div>
</section>
